*{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 50px; 
}
.main{
    display: grid;
    grid-template-columns: repeat(4,220px);
    grid-template-rows: repeat(5,320px);
    gap: 15px 20px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}
.main>div{
    width: 220px;
    height: 310px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.person{
    width: 220px;
    height: 210px;  
    border-radius: 3px;

}
h3,p{
    font-size: 15px;
    margin: 3px 0px;
   
}
.logo{
    width: 120px;
    height: 100px;
    margin-top: -25px;
}

@media (min-width:1024px) {
    .main{
        grid-template-columns: repeat(4,220px);
    }
}
@media (min-width:765px) and (max-width:1023px) {
    .main{
        grid-template-columns: repeat(3,220px);
    }
}

@media (max-width:764px) {
    .main{
        grid-template-columns: repeat(2,220px);
    }
    
    .person{
        width: 10em;
        height: 10em;  
    }
}